<!DOCTYPE html>
<html>
<head>
  <title>HTML Form Example</title>
</head>
<body>
  <h1>HTML Form Exampel</h1>
  <form action="/" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="gender">Gender:</label>
    <input type="radio" id="male" name="gender" value="m" required>
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="f" required>
    <label for="male">Male</label>

    <br>

    <label for="color">Favorite color:</label>
    
</body>
</html>